/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/visitor');
/* V A R I A B L E S */

:root {
  /* Fonts  */
  --fsg: 12vh; /* Time and Greetings */
  --fsm: 8vh; /* Date */
  --fss: 3vh; /* Greetings and Weather widger */
  --fslh: 5vh; /* List header */
  --fses: 2vh; /* Links List */

  --iconsize: 3vh;

  --accent: #7d3da9; /* Hover color */
  --bg: #101010; /* Background color */
  --sbg: #030303; /* Cards color */
  --fg: #fefefe; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Visitor TT1 BRK', sans-serif;
  transition: 0.2s ease-in-out;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

#themeIcon {
  width: 25px;
  height: 25px;
}

.container {
  width: 120vh;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: var(--sbg);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.picBlock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.timeBlock {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock {
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.picture {
  width: 200px;
  height: 200px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}


#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder;
  color: var(--fg);
}

#month,
#day {
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 20px;
}

#greetings {
  font-size: var(--fss);
  color: var(--fg);
}

.weatherIcon img {
  width: 100px;
  height: 100px;
}

.weatherValue p {
  font-size: var(--fss);
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.weatherDescription p {
  font-size: var(--fss);
  margin-left: 15px;
  color: var(--fg);
}

.list {
  height: 110%;
  border-color: var(--accent);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: var(--accent);
  border-style: solid;
  border-width: 0 0 0 5px;
}

.list__1 {
  grid-column: 1;
  grid-row: 3 / span 2;
}
.list__2 {
  grid-column: 2;
  grid-row: 3 / span 2;
}
.list__3 {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.list__4 {
  grid-column: 4;
  grid-row: 3 / span 2;
}

.list__head {
  padding-top: 1vh;
  text-align:center;
  font-size: var(--fslh);
  color: var(--fg);
  width: 70%;
  border-color: var(--accent);
  border-style: solid;
  border-width: 0 0 5px 0;
}
.list__link {
  border-color: var(--accent);
  border-width: 5px;
  text-decoration: none;
  font-size: var(--fses);
  color: var(--fg);
  margin-top: 1vh;
  padding: 8px 10px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.list__link:hover {
  border-color : var(--accent);
  border-style : solid;
  border-width : 0 0 0 5px;
  color: var(--sfg);
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fss);
  }

  .list {
    display: none;
  }

  .buttons {
    grid-column: 1 / span 4;
  }

  .buttonLink {
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
